/* Start Variables */
:root {
    --primary-color: #10CAB7;
    --secondary-color: #2ecc71;
    --font-size-large: 24px;
    --spacing-unit: 8px;
    --max-width: 1200px;
}

/* End Variables */
/* Start Global Rules */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: "Work Sans", sans-serif;
}

.container {
    padding-left: 9%;
    padding-right: 9%;
}

p {
    line-height: 2;
    font-weight: 400;
    font-size: 10px;
}

/* End Global Rules */
/* Start Header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3% 15%;
}

.header img {
    width: 100px;
}

.header i {
    font-size: 30px;
}

/* End Header */

/* Start first section */
.first-section {
    text-align: center;
    height: 25vh;
    background: url('../images/mountain.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 15px;
}

.first-section h1 {
    color: var(--primary-color);
}

.first-section p {
    color: white;
    font-size: 15px;
}

/* End first section */

/* Start Second section */
.second-section {
    padding-top: 5%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 155px;
}

.second-section i {
    color: var(--primary-color);
    font-size: 55px;
}



/* Large */
@media (max-width: 1200px) {
    .second-section {
        gap: 105px;
    }
}

/* Medium */
@media (max-width: 992px) {
    .second-section {
        gap: 55px;
    }
}

/* Small */
@media (max-width: 768px) {
    .second-section {
        flex-direction: column;
        gap: 30px;
    }

    .second-section p {
        display: none;
    }
}

/* End Second section */

/* Start Common Use */
.common-label {
    text-align: center;
}

.common-label p:first-of-type {
    font-size: 100px;
    font-weight: 800;
    color: #e1e0e0;
}

.common-label p:nth-child(2) {
    font-size: 15px;
    margin-top: -178px;
}

/* Small */
@media (max-width: 500px) {
    .common-label p:first-of-type {
        font-size: 70px;
    }

    .common-label p:nth-child(2) {
        margin-top: -130px;
    }
}

/* End Common Use */

/* Start Services section */
.services {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 25px;
    padding: 150px;
}

.service {
    padding: 20px;
    display: flex;
    gap: 15px;
    /* justify-content: space-between; */
    /* align-items: flex-start; */
}

.service h3 {
    margin-top: 0;
}

.service i {
    color: var(--primary-color);
    font-size: 35px;
}

.services>div:last-child {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #F6F6F6;
}

.services>div:last-child div {
    position: absolute;
    height: 125%;
    width: 25%;
    background-color: #2C4755;
    z-index: -1;
    top: -12.5%;
    right: -12.5%;
}

/* Medium */
@media (max-width: 1200px) {
    .services>div:last-child {
        display: none;
    }

    .services>div:last-child div {
        display: none;
    }
}

/* End Services section */

/* Start Portfolio section */
.portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 25px;
    padding-top: 35px;
}

/* End Portfolio section */

/* Start about section */
.about {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 25px;
    padding: 150px;
}

.about>div:nth-child(1) {
    background-color: #F6F6F6;
    width: 50%;
    height: 100%;
    margin: auto;
    position: relative;
}

.about>div:nth-child(1)::after {
    content: "";
    display: block;
    border: 60px solid var(--primary-color);
    border-top: none;
    border-right: none;
    width: 30%;
    height: 70%;
    position: absolute;
    top: -10%;
    right: -40%;
    z-index: -1;
}

hr.custom-about {
    border-color: var(--primary-color);
    width: 50%;
    margin-left: 0;
    margin-top: 25px;
}

/* End about section */

/* Start contact section */
.contact {
    text-align: center;
    padding: 25px 500px 100px 0;
}

.contact h3 {
    font-weight: 1000;
    font-size: 40px;
    color: #2C4755;
    letter-spacing: -2px;
}

.contact h4 {
    font-weight: 1000;
    font-size: 30px;
    color: var(--primary-color);
    letter-spacing: -2px;
}

.contact p {
    font-size: 15px;
    letter-spacing: -2px;
    margin: 0;
}

.contact .contact-links {
    display: flex;
    font-size: 15px;
    gap: 25px;
    align-items: center;
    justify-content: center;

}

/* End contact section */

/* Start footer section */
footer {
    text-align: center;
    background-color: #2C4755;
    color: white;
    padding: 25px;

}

footer p {
    margin: 0;
    font-size: 15px;
    font-weight: bold;
}

/* End footer section */